<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family : 'Times New Roman', Times, serif;
            font-size: 16px;
        }
        input[type="text"] {
            font-size: 13px; 
        }
        .header{
            display : flex;
            justify-content: flex-end;
        }
        .my-button {
            font-size: 13px; 
            margin: 8px 5px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkWhiz</title>
</head>



<body>
    <div class="header">
        <form action="/home" method="GET">
            <button class="my-button" type="submit">Home</button>
            <br>
        </form>
        <form action="/logout" method="GET">
            <button class="my-button" type="submit">Logout</button>
            <br>
        </form>
    </div>

    <h1 align="center">URL Shortener</h1>
    <% if(locals.srtURL){ %>
        <p align="center"> Your short URL : <a href="http://localhost:4623/url/<%=locals.srtURL%>"> <%=locals.srtURL%> </a> </p>
    <% } %>

    <form action="/search" method="GET" align="center">
        <input type="text" name="query" placeholder="Enter your search query" />
        <button class="my-button" type="submit">Search</button>
    </form>
<br>
<hr>
<br>
    <div>
        <form method="POST" action="/url" align="center">
        <label style='margin-right: 3px;'>Enter your URL here!</label>
        <input
                type="text" name="url" placeholder="https://YourURL.com" style='margin-right: 20px;'
        />

        <label style='margin-right: 3px;'>Note : </label>
        <input
                type="text" name="notes" placeholder="Add a note(optional)" style='margin-right: 8px;'
        />

            <button class="my-button" type="submit"> Shrink it! </button>
        </form>
    </div>
    <div>
        <br>

        <% if(locals.urls){%>
            <table border="0" height="60%" width="80%" align="center"
            style="border-spacing: 20px 0;">
                <thead>
                    <th width="10%">S No.</th>
                    <th>Short URL</th>
                    <th>Original URL</th>
                    <th>Views</th>
                    <th>Notes</th>
                </thead>
                <tbody>
                    <% urls.forEach((link , i)=>{ %>
                        <tr align="center">
                        <td><%= i+1 %></td>
                        <td> <a href="http://localhost:4623/url/<%=link.shortURL%>"> <%= link.shortURL %> </a> </td>
                        <td> <a href="<%=link.longURL%>"> <%= link.longURL %> </a> </td>
                        <td><%= link.views.length %></td>
                        <td><%= link.notes %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>

</html>